@model OwlCarouselViewModel

<div class="latest-product__text">
    <h4>@Model.Title</h4>
    <div class="latest-product__slider owl-carousel">
        @for(var i = 0; i < Model.Items.Count; i++)
        {
            var product = Model.Items[i];

            if (i % 3 == 0)
            {
                @:<div class='latest-product__slider__item'>
            }

            <a href="#" class="latest-product__item">
                <div class="latest-product__item__pic">
                    <img src="@(product.ImageUrl)" alt="">
                </div>
                <div class="latest-product__item__text">
                    <h6>@(product.Name)</h6>
                    <span>@(product.Price.ToString("C"))</span>
                </div>
            </a>

            if (i % 3 == 2 || i == Model.Items.Count - 1)
            {
                @:</div>
            }
        }
    </div>
</div>
